[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=@CMAKE_INSTALL_PREFIX@/bin/sdriak
Name=SDRIAK
Comment=Cross-platform software-defined radio receiver
Icon=sdriak
Categories=Network;HamRadio;
Keywords=SDR;Radio;HamRadio;Receiver;
StartupWMClass=sdriak
